[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["echo 'No build step needed for API'"]

[start]
cmd = "npm run db:migrate && npm run db:seed:prod && npm start"
